body {
  background-color: lightpink;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  
  }

.first-button{
  background-color: lightblue;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none; /* zero underline*/
  display: inline-block;
  font-size: 16px;
  margin: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.canvas-container {
  display: flex;
  justify-content: flex-start;
  gap: 2cm; /* 2 cm gap between the canvases */
  margin-top: 20px;
}

canvas {
  border: none; /* Remove the canvas border */
}
